__pycache__
.ipynb_checkpoints

d2_net/checkpoints*
d2_net/train_vis
d2_net/models
d2_net/log.txt
d2_net/hpatches_sequences/hseq.pdf
d2_net/hpatches_sequences/hseq-top.pdf
d2_net/hpatches_sequences/hpatches-sequences-release*
d2_net/hpatches_sequences/cache
d2_net/hpatches_sequences/cache-top
d2_net/vlfeat
d2_net/*.d2-net

save
wandb

cache/
hpatches-sequences-release/
